#bg {
  z-index: 9998;

  background: rgba(0, 0, 0, 0.3);
}

.close {
  color: red !important;
  background-color: transparent !important;
  border: none !important;
  float: right !important;
}
.fontColorchange {
  color: #0cace9 !important;
  font-weight: 600;
}
.bordert-b {
  border: 1px solid #f1f1f1;
}
.home {
  color: #4f4f4f !important;
}
.headingList {
  font-size: 12px;
}
a.dropdown-toggle.nav-link {
  color: #4f4f4f !important;
}
.alert.alert-danger.alert-dismissible.fade.show {
  margin-top: 70px;
}
